*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
    background-color: orange;
    margin: 0 auto;
}

div h1 {
    font: bold 60px/1 'helvetica';
    color: blue;
    text-align: center;
}